/* Проверка возраста */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000235;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 9999;
}

.message {
  background-color: white;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
}

.overlay button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.buttonNo {
  background-color: white;
  border-style: solid;
  border-color: #000235;
  width: 100px;
}

.buttonYes {
  background-color: #000235;
  color: white;
  width: 100px;
}

/* Основная страница */
.mainContainer {
  min-height: 100%;
  width: 90vw;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.wrapper {
  min-height: 100%;
  width: 80vw;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Главный экран */
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(0.4rem);
  opacity: 0.6;
}

.content {
  text-align: left;
  color: white;
}

.title {
  font-family: "Outfit";
  font-style: normal;
  font-size: 4.6rem;
  margin-bottom: 1rem;
  max-width: 514px;
  line-height: 101%;
}

.description {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  max-width: 422px;
}

.button {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: #000235;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  width: 236px;
  height: 60px;
  top: 575px;
  background: #ffffff;
  border-radius: 83px;
  cursor: pointer;
  text-transform: uppercase;
}

.blockTitle {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #a8b2d1;
  text-transform: uppercase;
}

.blockMainTitle {
  font-family: "Outfit", sans-serif;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  margin-top: -5px;
  font-weight: 600;
  line-height: 101%;
}

/* Второй блок "С кем мы работаем" */
.block2 {
  position: relative;
}

.brandImages {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 2rem;
  background-color: #383956;
  border-radius: 11px;
}

.brandImages img {
  height: 100%;
}

/* Третий блок "О нас" */
.block3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.block3 img {
  width: 50%;
  max-width: 400px;
  max-width: 523px;
}

.block3 .block {
  width: 100%;
  max-width: 600px;
}

.block3Text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 80%;
}

/*Товары*/
.productContainer {
  position: relative;
  top: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Back {
  cursor: pointer;
}

.Next {
  transform: rotate(-180deg);
  cursor: pointer;
}

.block4 {
  position: relative;
}


/* Media Queries */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  /* Главный экран */
  .content {
    margin-inline: 1rem;
  }

  .title {
    font-size: 3.25rem;
  }

  .description {
    max-width: 320px;
  }

  .brandImages {
    flex-direction: column;
    gap: 2rem;
  }

  /* Третий блок "О нас" */
  .block3 {
    flex-direction: column;
  }

  .block3 img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .block3 .block {
    max-width: 100%;
  }

  .block3Text {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  /* Третий блок "О нас" */
  .block3 {
    flex-direction: column;
  }

  .block3 img {
    width: 100%;
  }

  .block3 .block {
    max-width: 100%;
  }

  .block3Text {
    width: 100%;
  }
}