.productSliderContainer {
    position: relative;
    top: 200px;
    margin-left: 120px;
    margin-right: auto;
}

.productSlider {
    display: flex;
}

/* расположение по бокам */
.prevButton,
.nextButton {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.Next {
    transform: rotate(-180deg);
}

.prevButton {
    left: -70px;
}

.nextButton {
    right: 40px;
}

/* Media Queries */
@media (max-width: 768px) {
    .productSliderContainer {
        top: 200px;
        margin-left: 0;
    }    
    .nextButton {
        right: -60px;
    }

    .prevButton {
        left: -60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .productSliderContainer {
        width: 80%;
    }    
    .nextButton {
        right: -30px;
    }
    .prevButton {
        left: -30px;
    }
}
