.productSliderContainer {
    display: flex;
    gap: 1rem;
  }
  
  .productSlider {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    justify-content: space-around;
  }
  
  /* расположение по бокам */
  .prevButton,
  .nextButton {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .Next {
    transform: rotate(-180deg);
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .prevButton img,
    .nextButton img {
      width: 40px;
    }
  }
  
  @media (max-width: 425px) {
    .prevButton img,
    .nextButton img {
      width: 35px;
    }
  }
  